.brands {
	margin-bottom: 200px;
	&__container {
	}

	&__body {
		position: relative;
		/* z-index: 1; */
		background: $blackColor;
		overflow: auto;
		border-radius: 25px;
		min-height: 253px;

		&::before {
			content: '';
			left: 0;
			top: 0;
			z-index: 2;
			border-radius: 25px;
			position: absolute;
			width: 100%;
			height: 100%;

			border: 2px solid rgba(44, 53, 61, 0.8);
			background: rgba(44, 53, 61, 0.2);
			backdrop-filter: blur(25px);
		}
		&::after {
			content: '';
			position: absolute;
			left: -90px;
			top: -90px;
			z-index: 3;
			width: 155px;
			height: 155px;
			background: rgba(255, 72, 66, 0.6);
			filter: blur(50px);
		}
	}

	&__title {
		position: relative;
		z-index: 6;
		padding-top: 55px;
		text-align: center;
		margin-bottom: 55px;
		font-weight: 500;
		font-size: 24px;
		line-height: 36px;
		color: rgba(255, 255, 255, 0.8);
	}

	&__cards {
		position: relative;
		z-index: 6;
		padding: 0 82px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}

.cards-brands {
}
.card-brand {
	&__image {
	}
}
.circle-blur {
	position: absolute;
	left: -10px;
	top: 0;
	z-index: 1;
	width: 65px;
	height: 65px;
	background: rgba(255, 110, 48, 0.6);
	filter: blur(25px);
}
