@font-face {
	font-family: 'icons';
	font-display: swap;
	src: url('../fonts/icons.woff') format('woff'),
		url('../fonts/icons.woff2#icons') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}
%ic {
	font-family: 'icons';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
}

[class^='_icon-'],
[class*='_icon-'] {
	&::before {
		@extend %ic;
		display: block;
	}
}

._icon-arrow-down:before {
	content: '\e900';
}
._icon-favorite2:before {
	content: '\e903';
	color: #262f56;
}
._icon-search2:before {
	content: '\e906';
}
._icon-arrow-link:before {
	content: '\e901';
}
._icon-location:before {
	content: '\e904';
}
._icon-phone:before {
	content: '\e905';
}
._icon-send:before {
	content: '\e907';
}
._icon-share:before {
	content: '\e908';
}
