.intro {
	height: 700px;
	overflow: hidden;
	margin-bottom: 200px;

	&__container {
	}

	&__body {
		padding: 178px 0px 0px 0px;
		display: flex;
	}

	&__content {
		flex: 0 0 750px;
	}

	&__image {
		img {
			transform: translateY(-45px);
		}
	}
}

.content-intro {
	display: flex;
	flex-direction: column;

	&__title {
		font-weight: 500;
		font-size: 50px;
		line-height: 140%;
		color: $whiteColor;
		margin-bottom: 30px;
		span {
			color: $orangeColor;
		}
	}

	&__text {
		font-weight: 400;
		font-size: 18px;
		line-height: 30px;
		color: $grayColor;
		margin-bottom: 60px;
	}

	&__search-form {
		margin-bottom: 110px;
	}

	&__social {
	}
}
.search-form {
	max-width: 498px;
	&__item {
		border-radius: 15px;
		background: #283036;
		display: flex;
		align-items: center;
	}

	&__btn-icon {
		flex: 0 0 45px;
		height: 64px;
	}

	&__input {
		font-weight: 400;
		font-size: 14px;
		line-height: 21px;
		width: 100%;
		background-color: transparent;
		color: rgba(255, 255, 255, 0.38);
	}

	&__btn-search {
		min-height: 48px;
		font-weight: 600;
		font-size: 16px;
		line-height: 24px;
		padding: 0px 36px;
		color: #ffffff;
		margin-right: 11px;
	}
}

.social-intro {
	display: flex;
	align-items: center;
	&__icon {
		margin-right: 40px;
		color: rgba(255, 255, 255, 0.78);
		i {
			font-size: 22px;
			transition: color 0.3s ease 0s;
			&:hover {
				color: $orangeColor;
			}
		}
	}
}
.icon-search {
	color: $grayColor;
	font-size: 15px;
}
