@use 'sass:math';

// Подключение шрифтов
@import 'config/fonts';

// Миксины
@import 'mixins.scss';
// Подключение переменных
@import 'vars.scss';

// Обнуление =============
@import 'reset.scss';

// =======================
@import 'header.scss';
@import 'icons.scss';
@import 'base.scss';
@import 'footer.scss';

@import 'slider.scss';
@import 'ui.scss';
@import 'advantages.scss';
@import 'products.scss';
@import 'rooms.scss';
@import 'tips.scss';
@import 'gallery.scss';

button {
	background-color: transparent;
}
body {
	color: $blackColor;
	font-family: gilroy;
	font-size: 16px;
}

._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	padding: 0 15px;
}
