.page {
	&__tools {
	}
}
.tools {
	margin-bottom: 200px;
	&__container {
	}

	&__body {
	}

	&__title {
		text-align: center;
		margin-bottom: 25px;
	}

	&__text {
		text-align: center;
		margin-bottom: 110px;
	}

	&__items {
		display: grid;
		column-gap: 25px;
		grid-template-columns: repeat(3, minmax(392px, 1fr));
		min-height: 294px;
	}

	&__item {
		margin-bottom: 100px;
	}
	&__button {
		text-align: center;
		button {
			padding: 0px 38px;
			background: #1e252b;
			border: 1px solid rgba(255, 255, 255, 0.1);
			border-radius: 8px;
			color: $orangeColor;
			transition: all 0.3s ease 0s;
			font-weight: 500;
			font-size: 20px;
			line-height: 30px;
			min-height: 64px;
			&:hover {
				color: #fff;
				background: $orangeColor;
			}
		}
	}
}

.item-tool {
	padding: 33px;
	transition: all 0.6s ease 0s;
	border: 1px solid $blackColor;
	&:hover {
		position: relative;
		border: 1px solid rgb(40, 48, 54);
		background: rgb(40, 48, 54);
		background: linear-gradient(
			37deg,
			rgba(40, 48, 54, 0.6) 83%,
			rgba(149, 72, 58, 0.3) 97%
		);
		/* @supports (
			(-webkit-backdrop-filter: blur(25px)) or (backdrop-filter: blur(25px))
		) {
			background: rgba(40, 48, 54, 0.6);
			backdrop-filter: blur(25px);
		}
		background: rgba(40, 48, 54, 0.6);
		backdrop-filter: blur(25px);
		box-shadow: 27px -11px 48px 7px rgba(60, 52, 50, 0.2); */
		&::before {
			content: '';
			position: absolute;
			display: block;
			width: 100px;
			height: 100px;
			border: 2px solid #5e4033;
			border-top-right-radius: 15px;
		}
		&::before {
			top: -1px;
			right: -1px;
			border-left: none;
			border-bottom: none;
		}
		border-radius: 15px;
		transform: translateY(-20px);
		.item-tools__btn {
			color: #fff;

			background: #ff6e30;
			border-radius: 8px;
		}
		.item-tools__like {
			background: #283036;
			width: 42px;
			box-shadow: 0px 5px 10px -3px rgba(18, 18, 18, 0.15);
			border-radius: 8px;
			color: #fd3b41;
		}
		.item-tool__name {
			color: $whiteColor;
		}
		.item-tool__cost {
			color: #ffa537;
		}
		.item-tool__text {
			color: rgba(255, 255, 255, 0.78);
		}
	}
	&__info {
		display: flex;
		margin-bottom: 31px;
	}
	&__head {
	}
	&__image {
		margin-right: 28px;
	}

	&__name {
		font-weight: 500;
		font-size: 24px;
		line-height: 36px;
		color: rgba(255, 255, 255, 0.78);
	}

	&__cost {
		font-weight: 400;
		font-size: 18px;
		line-height: 27px;
		color: rgba(255, 165, 55, 0.55);
	}

	&__text {
		font-weight: 400;
		font-size: 16px;
		line-height: 30px;
		color: $grayColor;
		margin-bottom: 30px;
	}

	&__buttons {
		display: flex;
		align-items: center;
		height: 42px;
	}
}
.item-tools {
	&__like {
		color: rgba(255, 255, 255, 0.38);
		font-size: 22px;
		margin-right: 20px;
		transition: color 0.3s ease;
		width: 42px;
		height: 42px;
		padding: 7px;
		text-align: center;
		border-radius: 8px;
	}

	&__folder {
		flex: 1 1 auto;
		padding: 7px;
		width: 42px;
		height: 42px;
	}

	&__btn {
	}
}
