._footer-title {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 700;
	@include adaptiv-value('font-size', 24, 20, 1);
	line-height: 29px;
	color: #000000;
}

.slider-arrows {
	display: grid;
	grid-template-columns: repeat(2, 48px);
	column-gap: 8px;
}
.slider-arrow {
	pointer-events: auto;
	border-radius: 50%;
	height: 48px;
	color: $orangeColor;
	font-size: 12px;
	cursor: pointer;
	background: rgba(232, 159, 113, 0.3);
	transition: all 0.3s ease 0s;
	&_prev {
		&::before {
			transform: rotate(90deg);
		}
	}

	&_next {
		&::before {
			transform: rotate(-90deg);
		}
	}
	@media (any-hover: hover) {
		&:hover {
			color: #fff;
			background: rgba(232, 159, 113, 1);
		}
	}
	&_white {
		box-shadow: 0 4px 14px 1px rgba(0, 0, 0, 0.16);
		background: #fff;
		@media (any-hover: hover) {
			&:hover {
				color: #fff;
				background: $orangeColor;
			}
		}
	}
}

.btn {
	display: inline-flex;
	padding: 0 15px;
	justify-content: center;
	align-items: center;
	text-align: center;
	transition: all 0.3s ease 0s;
	min-height: 48px;

	&_white {
		color: $orangeColor;
		background: #fff;
		@media (any-hover: hover) {
			&:hover {
				background: $orangeColor;
				color: #fff;
			}
		}
	}
}

._title {
	text-align: center;
	line-height: 120%;
	font-weight: 700;
	@include adaptiv-value('font-size', 40, 24, 1);
}

// Dotts
.swiper-pagination-bullets {
	display: flex;
	flex-wrap: wrap;
	.swiper-pagination-bullet {
		cursor: pointer;
		flex: 0 0 27px;
		height: 27px;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 2px 0;
		background: $orangeColor;
		border: 1px solid $grayColor;

		&:not(:last-child) {
			margin-right: 12px;
		}
		&::after {
			content: '';
			width: 11px;
			height: 11px;
			border-radius: 50%;
			background: #d8d8d8;
			transition: background 0.3s ease 0s;
		}
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 50%;
			border: 1px solid $orangeColor;
			transition: transform 0.3s ease 0s;
			transform: scale(0);
		}
	}
	.swiper-pagination-bullet-active {
	}
}

._flyImage._ibg {
	opacity: 1;
	position: fixed;
	z-index: 100;
	transition: all 1s ease 0s;
}
