$whiteColor: rgba(255, 255, 255, 0.9);
$blackColor: #1e252b;
$grayColor: rgba(255, 255, 255, 0.55);
$yellowColor: rgba(255, 165, 55, 0.55);
$yelowColorHover: #ffa537;
$orangeColor: #ff6e30;

$minWidth: 320;
$maxWidth: 1440;
$maxWidthContainer: 1254;



