$whiteColor: #fff;
$blackColor: #3a3a3a;
$grayColor: #898989;
$darkGrayColor: #616161;
$orangeColor: #e89f71;

$minWidth: 320;
$maxWidth: 1440;
$maxWidthContainer: 1270;

// Переменные для медиа запросов
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98 ;
$md4: 479.98;
